/* PAGE BACKGROUND */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #fff7e6, #ffe3ec);
  padding: 20px 0 0 0;
  text-align: center;
}

/* HEADING */
.page-title {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeUp 0.7s ease forwards;
  opacity: 0;
}

@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* INSTRUCTIONS BOX */
.instructions {
  max-width: 550px;
  margin: 0 auto 25px auto;
  padding: 18px;
  background: #ffffffbb;
  backdrop-filter: blur(4px);
  border-left: 6px solid #ff4b2b;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  animation: fadeUp 0.6s ease;
}

.instructions h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #ff4b2b;
}

.instructions ol {
  padding-left: 20px;
  margin: 0;
}

.instructions li {
  margin-bottom: 6px;
  text-align: left;
  font-size: 16px;
  color: #444;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 25px 0;
  flex-wrap: wrap;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  background: #ffffff;
  border: 2px solid #222;
  padding: 10px 12px;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
  font-size: 18px;
  min-width: 70px;
}

/* COLUMN BUTTON BOX */
.column-buttons {
  margin-top: 25px;
}

.column-text {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

/* 3 BUTTONS IN ROW */
.btn-row {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.col-btn {
  padding: 12px 20px;
  background: #6c5ce7;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(108, 92, 231, 0.3);
  transition: 0.3s;
  flex: 1;
  
}

.col-btn:hover {
  background: #4834d4;
  transform: translateY(-3px);
}

.restart-btn {
  margin-top: 25px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #ff5f6d;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.restart-btn:hover {
  background-color: #ff2a4a;
  transform: scale(1.05);
}

/* HIDE */
.hidden {
  display: none;
}
